<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>


</head>

<body>
	<div class="card" th:fragment="helpinfo">
		<div class="card-divider">Help Information</div>

		<div class="card-section">
			<p>
				Circulation and Information Desk<br> <strong>405-744-9775</strong>
			</p>
			<p>
				Send us an email at<br> <strong> <a
					href="libraryhelp@okstate.edu">libraryhelp@okstate.edu</a></strong>
			</p>
			<hr>
			<p>
				Use our <a
					href="https://library.okstate.edu/forms/ask-us/email-a-question">Contact
					Form</a>.
			</p>

		</div>
	</div>

</body>

</html>
