<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div th:fragment="room-policy">
		<ul>

			<li>While tables and workstations are available on a walk-in
				basis, reservations take precedence. If using a table or workstation
				that is reserved, you will be asked to relocate ten minutes prior to
				the reservation starting.</li>

			<li>Tables can be moved within the space, but be sure to put
				them back when you leave.</li>

			<li>If you have any questions regarding study room reservations
				and/or policies, please visit the Digital Scholarship Center Help
				Desk or call 405-744-9731.</li>
		</ul>
	</div>

</body>

</html>