<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
	<div th:fragment="summary-helpinfo">

		<i class="far fa-envelope-open"></i> <small>You will receive an email
		confirmation. Please check your spam folder or contact the
		Digital Scholarship Center Help Desk at 405-744-9731 or <a
			href="mailto:lib-dsc@okstate.edu?subject=Digital Scholarship Center Help Desk Study Room Question">
			lib-dsc@okstate.edu</a> with any questions. </small>
	</div>

</body>

</html>

