<ul>
	<li>A study room reservation can only be booked for up to 4 hours
		at a time.</li>
	<li>Only 2 active study room reservations can be made at one time.</li>
	<li>Study room reservations must allow at least two hours in
		between the end of a reservation and the beginning of another one.</li>
	<li>Room keys can be checked out at the Circulation & Information
		Desk on the first floor of the Library.</li>
	<li>Study room doors must be locked at the end of each
		reservation.</li>
	<li>Smart board equipment is unavailable at this time.</li>
	<li>If it is your first time checking out a study room, you will
		be asked to sign a "Statement of Responsibility" when you come to the
		Circulation & Information Desk. This signed statement will remain
		active for one calendar year.</li>
	<li>Reservations will be held for 15 minutes after the beginning
		of the reservation. At that time, the room may be reassigned.</li>
	<li>White noise machines are available for checkout with study
		room reservations.</li>
	<li>Study rooms are cleaned each night by the Library's custodial
		team. Cleaning supplies are available by request if you wish to
		sanitize before or after a reservation.</li>
	<li>If you do not receive a confirmation email within 30 minutes
		of making your reservation, please call the Circulation/Information
		Desk at 405-744-9741.</li>

</ul>