

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div th:fragment="room-policy">
		<ul>
			<li>Studio rooms may be booked for up to 4 hours.</li>
			<li>Only two studio room reservations may be active at a time.</li>
			<li>Room keys are checked out at the Creative Studios desk on
				the first floor of the library, located in the southeast corner.</li>
			<li>Studio doors must be locked at the end of each reservation.</li>
			<li>If it is your first time checking out a studio room, you
				will be asked to sign a Statement of Responsibility when you check
				out the key. The signed statement remains active for one calendar
				year.</li>
			<li>Reservations will be held for 15 minutes after the scheduled
				start time, after which the room may be reassigned.</li>
			<li>Do not adjust, unplug, or relocate any equipment or devices
				in the studio rooms; doing so will result in loss of privileges.</li>
			<li>If you do not receive a confirmation email within 30 minutes
				of making your reservation, please call the Creative Studios desk at
				405-744-7615.</li>

		</ul>
	</div>

</body>

</html>
