<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
	<div th:fragment="summary-helpinfo">

		<p class="xlead" style="margin: 1rem 0;">
			<i class="far fa-envelope-open"></i><small> You will receive an email
			confirmation. Please check your spam folder or <a
				href="https://library.okstate.edu/chat" style="color:inherit; text-decoration:underline;"><strong>contact the library</strong></a> with
			any questions.</small>
		</p>
	</div>

</body>

</html>

