<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorate="~{layout}">

<body>
	<!-- Content starts -->
	<section class="my-3 p-3 bg-white rounded box-shadow"
		layout:fragment="content">
		<br />
		<div class="grid-container">

			<div class="grid-x">
				<div class="cell auto">
					<div class="card">
						<div class="card-divider">
							<h2 class="h3 orange">[[${errorMessage}]]</h2>
						</div>
						<div class="card-section">
							<div class="cell medium-4" th:replace="common/helpinfo:: helpinfo">
							</div>
						</div>
						<div class="grid-x">
							<!-- Cancel Booking  -->
							<div class="cell small-5 small-offset-7   medium-3 medium-offset-9 text-right">
								<a th:href="@{/}"  class="button expanded">
							Continue...</a>
							</div>
						</div>
					</div>
					
				</div>
			</div>


			
		</div>

	</section>
	<!-- Content ends -->
</body>

</html>
