<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<body>
	<section layout:fragment="content">

		<div class="banner" style="padding: .75rem 0;">

			<div class="grid-container">

				<form id="dp-form" method="post" th:action="@{/}">

					<div class="grid-x">
						<div class="cell small-8 medium-3">
							<label> <strong>Date: </strong> <input type="text"
								th:value="${dateString}" name="date" id="date"
								class="input-group-field">

							</label>

						</div>
						<div class="cell small-8 medium-3 xmedium-offset-1">
							<label> <strong>Capacity: </strong> <select name="seats"
								id="seatsDropDown">
									<option th:each="dropDownItem : ${seats}"
										th:value="${dropDownItem.key}"
										th:selected="${dropDownItem.key} == *{selectedSeat}"
										th:text="${dropDownItem.value}" />
							</select>
							</label>
						</div>

						<div th:if=" ${hidefloorselection} =='false'"
							class="cell small-8 medium-3 xmedium-offset-1 hide-for-small-only">
							<label> <strong>Floor: </strong> <select name="floor"
								id="floorDropDown" onchange="this.form.submit()">
									<option th:each="dropDownItem : ${floors}"
										th:value="${dropDownItem.key}"
										th:selected="${dropDownItem.key} == *{selectedFloor}"
										th:text="${dropDownItem.value}" />
							</select>
							</label>

						</div>


						<div
							class="cell small-8 medium-3 xmedium-offset-1 hide-for-small-only"
							style="padding-left: 1rem;">
							<label> <strong>Available Rooms: </strong> <input
								type="text" readonly="readonly" th:value="${totalRooms}"
								class="input-group-field">

							</label>
						</div>

						<div>
							<h5
								style="font-family: 'Rubik', sans-serif; font-weight: 600; font-size: 18px; line-height: 1.5; color: #333; margin-top: 1rem;">
								Want more than 30 minutes? Select multiple time blocks (up to 4
								hours). <br>Please complete your booking within 15 minutes
								(after that your selections will be cleared).
							</h5>
						</div>

					</div>
				</form>
			</div>



		</div>

		<!-- When there are not any rooms to display this message appears -->
		<div class="grid-container grid-x" th:if="${spaceList == null}">
			<div class="cell medium-8">
				<h4>No rooms match your selected criteria</h4>
				<p>
					<strong>Try one of the following</strong>
				</p>
				<ul>
					<li>Change the date</li>
					<li>Call or email us for help</li>
				</ul>
			</div>


			<div class="cell medium-4" th:replace="${helpInfoPath} :: helpinfo">
			</div>
		</div>

		<div class="grid-container">

			<div class="grid-x off-canvas-content">

				<div class="large-12 cell grid-x">

					<!-- Room List -->


					<div data-th-each="room : ${spaceList}" class=" room-item">


						<div
							th:if="${selectedRoomId == null} ? true : ${selectedRoomId == room.id}">

							<div class="grid-x">
								<div class="cell small-12">
									<p class="room-name-title">

										<strong data-th-text="${room.name}">...</strong> <small
											class="number-room-item-seats"
											data-th-text="${room.capacity}"> </small> <small>
											Seats </small>
										<button class="button clear" type="button"
											th:data-toggle="'desc-' + ${room.id}"
											style="padding: 0 .5rem; margin-bottom: 0;">
											<i class="fas fa-info-circle orange"></i> <span
												class="show-for-sr">View Room Details</span>
										</button>
									<div class="dropdown-pane" th:id="'desc-' + ${room.id}"
										data-dropdown data-auto-focus="true">
										<!--
									<p>
										<strong data-th-text="${room.name}">...</strong>
									</p>
									-->
										<p th:href="@{#}" class="dropdown-toggle"
											data-toggle="dropdown">
											<span th:utext="${room.description}" th:remove="tag"></span>
											<b class="caret"></b>
										</p>
									</div>
								</div>
							</div>

							<div class="grid-x">
								<div class="cell medium-3   hide-for-small-only">
									<div>
										<img th:src="${room.image}" data-th-alt="${room.name}"
											class="room-item-img">
									</div>
								</div>
								<div
									class="cell small-11 small-offset-1  medium-offset-0 large-offset-0  medium-9">

									<div data-th-each="timeslot : ${room.availability}"
										style="display: inline;">

										<button class="button"
											th:classappend="${ timeslot.booked ? 'disabled orange-round-button' : 'clear orange-round-button'}"
											th:onclick="addItem(this, '[(${room.name})]','[(${room.id})]', '[(${timeslot.fromTime})]' 
										, '[(${timeslot.toTime})]' , '[(${timeslot.fromDateTime})]' , '[(${timeslot.booked})]' );"
											data-th-text="${timeslot.fromTime}">...</button>
									</div>

									<div class="callout" style="display: block;height:0.5rem;visibility:hidden;">
										<div class="grid-x">
											<div>
												<p>ssssssssssssssssssssssssssssssssssssssssssss;</p>
											</div>

										</div>
									</div>



									<div th:id="'confirmWindow-' + ${room.id}" class="callout"
										style="margin-top: 1.5rem; display: none;">


										<form class="form-group" method="post" th:action="@{/booking}">
											<div class="grid-x">

												<div
													class="cell small-10 small-offset-2 medium-6 medium-offset-0">

													Room: <strong>[[${room.name}]]</strong><br> Time: <strong>
														<span id="startTime"></span> to <span id="endTime"></span>
													</strong> <input type="hidden" th:value="${room.id}"
														name="roomNumber" th:id="'roomNumber-' + ${room.id}" /> <input
														type="hidden" th:value="${room.name}" name="roomName"
														th:id="'roomName-' + ${room.name}" /> <input
														type="hidden" th:value="${dateString}" name="dateString"
														id="dateString" /> <input type="hidden"
														name="hid_dateString"
														th:id="'hid_dateString-' + ${room.id}" /> <input
														type="hidden" name="hid_startTime"
														th:id="'hid_startTime-' + ${room.id}" /> <input
														type="hidden" name="hid_endTime"
														th:id="'hid_endTime-' + ${room.id}" /> <br
														class="show-for-small-only"> <br
														class="show-for-small-only">
												</div>

												<div
													class="cell small-9 small-offset-3   medium-6 medium-offset-0">
													<div style="display: flex; align-items: center; justify-content: flex-end; gap: 1.2rem;">

														<button
												            type="button"
												            id="buttonClearSelection"
												            onclick="clearSelection()"
												            class="button hollow">
												            <span class="clear-selection-label">Clear Selection</span>
												        </button>
												        <button
												            
												            class="button"
												            id="buttonBookingConfirm"
												            name="buttonBookingConfirm"
												            onclick="storeSelection()">
												           <i class="far fa-calendar-check"></i> Continue
												          </button>
														

													</div>
												</div>
											</div>

										</form>



									</div>
								</div>




							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


		<!-- Controls that helps to display room description in popup -->
		<a class="trigger_popup_fricc"></a>
		<div class="hover_bkgr_fricc">
			<span class="helper"></span>
			<div>
				<div class="popupCloseButton">&times;</div>
				<div id="popup_title"></div>
				<div id="popup_description"></div>
			</div>
		</div>

	</section>
	<!-- Content ends -->
<body>
</html>