<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">


<body>
	<section layout:fragment="content">

		<div
			style="background: #ddd; border-bottom: 2px solid #ff6000; margin-bottom: 2rem;">

			<div class="grid-container">
				<h5>
					<strong>Reserve a Study Room for</strong>
				</h5>

				<div class="grid-x">
					<div class="cell small-4">


						<form id="dp-form" method="get" th:action="@{/}">

							<h4>Date</h4>
							<input type="text" th:value="${dateString}" name="date" id="date">

						</form>
					</div>
				</div>

			</div>

		</div>

		<!-- When there are not any rooms to display this message appears -->
		<div class="grid-container grid-x" th:if="${spaceList == null}">
			<div class="cell medium-8">
				<h4>No rooms match your selected criteria</h4>
				<p>
					<strong>Try one of the following</strong>
				</p>
				<ul>
					<li>Change the date</li>
					<li>Call or email us for help</li>
				</ul>
			</div>
			<div class="cell medium-4" th:replace="common/helpinfo:: helpinfo">
			</div>
		</div>

		<div class="grid-container">

			<div class="grid-x off-canvas-content">

				<div class="large-12 cell grid-x grid-margin-x">

					<!-- Room List -->

					<div data-th-each="room : ${spaceList}"
						class="xcard xcard-custom-style room-item">

						<div class="grid-x">
							<div class="cell small-8">
								<p class="room-name-title">
									<strong data-th-text="${room.name}">...</strong> <small
										style="padding-left: 2rem; font-weight: 400;"
										data-th-text="${room.capacity}"></small> <small>Seats</small>
								</p>
							</div>
							<div class="cell small-4">
								<div class="show-info-action-button">

									<p>
										<a
											th:onclick="aboutThisRoomModal('[(${room.name})]', '[(${room.amenities})]')">About
											this room</a>
								</div>
							</div>

						</div>

						<div class="grid-x">
							<div class="cell medium-2  medium-offset-1 hide-for-small-only">
								<p>
									<img th:src="${room.image}" alt="${room.name}"
										style="padding-right: 1rem">
								</p>
							</div>
							<div class="cell small-12 xmedium-offset-1  medium-9">

								<div data-th-each="timeslot : ${room.availability}"
									style="display: inline;">

									<button class="button"
										th:classappend="${ timeslot.booked ? 'disabled' : 'clear '}"
										th:onclick="addItem(this, '[(${room.name})]','[(${room.id})]', '[(${timeslot.fromTime})]' 
										, '[(${timeslot.toTime})]' , '[(${timeslot.fromDateTime})]' , '[(${timeslot.booked})]' );"
										data-th-text="${timeslot.fromTime}">...</button>
								</div>

								<div th:id="'confirmWindow-' + ${room.id}"
									class="callout xsmall"
									style="margin-top: 1.5rem; display: none;">


									<form class="form-group" method="post" th:action="@{/booking}">

										<div class="small-6">

											Room: <strong>[[${room.name}]]</strong><br> Time:

											<p id="startTime"></p>
											to
											<p id="endTime"></p>

											<input type="hidden" th:value="${room.id}" name="roomNumber"
												th:id="'roomNumber-' + ${room.id}" /> <input type="hidden"
												th:value="${room.name}" name="roomName"
												th:id="'roomName-' + ${room.name}" /> <input type="hidden"
												th:value="${dateString}" name="dateString" id="dateString" />

											<input type="hidden" name="hid_dateString"
												th:id="'hid_dateString-' + ${room.id}" /> <input
												type="hidden" name="hid_startTime"
												th:id="'hid_startTime-' + ${room.id}" /> <input
												type="hidden" name="hid_endTime"
												th:id="'hid_endTime-' + ${room.id}" />
										</div>

										<div class="small-6">
											<div class="button-group expanded ">

												<button type="button"
													class="xbook-room-action-button hollow secondary button"
													th:onclick="clearSelection()">
													<i class="fas fa-times"></i> Clear Selection
												</button>
												<button class="xbook-room-action-button button">
													<i class="far fa-calendar-check"></i> Confirm
												</button>

											</div>
										</div>

									</form>



								</div>
							</div>




						</div>

					</div>

				</div>
			</div>
		</div>

	</section>
	<!-- Content ends -->
<body>
</html>