<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div th:fragment="helpinfo">
		<div class="grid-x">
			<div class="cell small-12">
				<h3 class="h4">
					<i class="fas fa-info-circle"></i> Contact us.
				</h3>
			</div>
			<div>
				<p>
					Vet Med Library Circulation & Information Desk <strong>For
						immediate assistance please call 405-744-6655</strong>
				</p>
			</div>

		</div>

		<div class="grid-x">
			<div>
				<p>
					Send us an email at <strong> <a
						href="mailto:lib-vet@okstate.edu">lib-vet@okstate.edu</a></strong> <br>Emails
					will answered during business hours.
				</p>

			</div>
		</div>
	</div>

</body>

</html>
