

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div th:fragment="room-policy">
		<ul>

			<li>A study room reservation can be booked for up to 2 hours at
				a time.</li>

			<li>Study room keys can be checked out at the
				Circulation/Information Desk on the first floor of the Vet Med
				Library.</li>

			<li>Reservations will be held for 15 minutes after the beginning
				of the reservation. At that time, the room may be reassigned.</li>

			<li>If it is your first time checking out a study room, you will
				be asked to sign a "Statement of Responsibility" at the
				Circulation/Information desk. This signed statement will remains
				active for one calendar year.</li>

			<li>White noise machines are available for checkout with study
				room reservations.</li>

			<li>Each study room is equipped with a wall monitor. Please turn
				the monitor off after use.</li>

			<li>Study room doors must be locked at the end of each
				reservation. Study room keys must be returned on time to the
				Circulation/Information Desk.</li>
			<li>If you have any questions regarding study room reservations
				and/or policies, please visit the Vet Med Library
				Circulation/Information Desk or call 405-744-6655.</li>
		</ul>
	</div>

</body>

</html>
