<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
	<div th:fragment="summary-helpinfo">

		<p class="xlead" style="margin: 1rem 0;">
			<i class="far fa-envelope-open"></i> <small>You will receive an email
			confirmation, too. Please check your spam folder or contact the Vet
			Med Library at 405-744-6655 or <a
				href="mailto:lib-vet@okstate.edu?subject=Vet med Study Room Question">
				lib-vet@okstate.edu</a> with any questions.</small>
		</p>
	</div>

</body>

</html>

