<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorate="~{layout}">


<body>


	<!-- Content starts -->
	<section class="my-3 p-3 bg-white rounded box-shadow"
		layout:fragment="content">
		<div class="grid-container">
			<div class="cell auto">
				<h1 class="h2 error-page-title" th:if="${errorMessage != null}">
					<i class="fas fa-exclamation orange"></i> [[${errorMessage}]]
				</h1>

				<h1 class="h2 error-page-title" th:if="${errorMessage == null}">
					<i class="fas fa-exclamation orange"></i> Oops, something went
					wrong.
				</h1>

				<div class=" grid-x">
					<div class="cell small-12 medium-10 medium-offset-1">
						<p class="h2">The suggestions below may help.</p>
						
						
						<div th:switch= "${errorMessageId}">
							
							<!-- API Error -->
							<dl class="error-cta-list"  th:case="101">
								<dt>Wait and Try Again</dt>
								<dd>
									<p>The problem might be temporary.  Wait a few minutes and please <strong><a
										href="https://spaces.library.okstate.edu">try again</a></strong>.</p>
									<p>If you continue to receive this error please contact OSU Library Circulation Desk.</p>
								</dd>
								<!-- Removed by Whitneys request
								<!--
								<dt>Use our Alternate Booking Site</dt>
								<dd>
									Try our backup room <a
										href="https://okstate.libcal.com/reserve/study-rooms">reservation
										system</a>.
								</dd>
								-->
							</dl>
							
							
							<!-- Room is already booked -->
							<dl class="error-cta-list" th:case="302">
	
								<dt>Please Try Again</dt>
								<dd>
									<strong><a href="https://spaces.library.okstate.edu">Start over</a></strong> and select a different room or time.
								</dd>
							</dl>
							
							
							<!-- Room exceeded daily limit -->
							<dl class="error-cta-list"  th:case="303">
								<dt>Select a Different Day</dt>
								<dd>
									<strong><a href="https://spaces.library.okstate.edu">Start over</a></strong> and select a different <em>date</em>.
								</dd>
							</dl>
							
							
							
							
							<!-- Limited to two reservations MAX -->
							<dl class="error-cta-list"  th:case="304">
								<dt>Students are limited to 2 active study room reservations at one time. </dt>
								<dd>
									Please review the <strong><a href="https://info.library.okstate.edu/studyrooms/policies">Study Room Policies</a></strong>.
								</dd>
								
							</dl>

							
							<!-- Unidentified error -->
							<dl class="error-cta-list"  th:case="*">
								<dt>Wait and Try Again</dt>
								<dd>
									<p>The problem might be temporary. Wait a few minutes and please <strong><a
										href="https://spaces.library.okstate.edu">try again</a></strong>.</p>
									<p>If you continue to receive this error please contact OSU Library Circulation Desk.</p>
								</dd>
								
							</dl>
						
						</div>
						

						
						
						
						
						
						<!-- Contact information is always displayed -->
						<dl class="error-cta-list">
							<dt>Contact Us</dt>
							<dd>
								<p>
									Circulation and Information Desk<br> <strong>For immediate assistance please call 405-744-9775</strong>
								</p>
								<p>
									Send us an email at<br> <strong> <a
										href="https://library.okstate.edu/forms/ask-circulation/contact-the-circulation-and-information-desk">lib-cir@okstate.edu</a></strong> 
								</p>
							</dd>
						</dl>
						

					</div>
				</div>
			</div>

		</div>


	</section>
	<!-- Content ends -->
</body>

</html>

