<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Spaces - UI">
<meta name="author" content="Roy Degler,Damith Perera">
<link rel="icon" th:href="@{/img/favicon.ico}">

<title th:text="${pageTitle}">Default Title</title>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<link rel="stylesheet" href="/css/foundation-6.6.3.css" />

<link rel="stylesheet" href="/css/main.css" />

<link href="css/foundation-datepicker.css" rel="stylesheet"
	type="text/css">

<script src="/js/foundation-6.6.3.js"></script>

<meta name="numberOfLimitTimeSlots" th:content="${numberofTimeSlots}" />

</head>

<body>
	<!-- Main starts -->
	<div role="main">

		<div id="bar" th:if="'show'  == ${ribbonmessagevisibility}"
			class="ribbonclass" th:classappend="${messageclass}"
			th:text="${ribbonmessage} + ' (click to close)'"></div>

		<div class="xy-branding">

			<div class="grid-container">

				<div class="grid-x">
					<div class="cell small-12 large-6">
						<img
							src="https://library.okstate.edu/template-b/images/logo-banner.png"
							alt="logo" style="position: absolute; z-index: 11;">
						<div id="site-branding">
							<a href="//library.okstate.edu" id="site-name">Edmon Low
								Library</a>
							<p id="tagline">
								&amp; <a href="https://library.okstate.edu/about/locations/"
									class="banner-link">Branch Libraries</a>
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="title-bar" data-responsive-toggle="example-menu"
			data-hide-for="medium">
			<div class="title-bar-right">
				<button class="menu-icon" type="button" data-toggle="example-menu">
					<span class="sr-only">Menu</span>
				</button>
			</div>

		</div>



		<div class="top-bar-wrapper">
			<div class="grid-container">
				<div class="top-bar" id="example-menu">
					<div class="top-bar-left">
						<ul class="vertical medium-horizontal menu">
							<li class="menu-text make-125px hide-for-small-only">&nbsp;</li>
							<li><a href="https://library.okstate.edu">Home </a></li>
							<li th:if="${showExternalLinks}"><a
								href="https://forms.library.okstate.edu/machform/view.php?id=181450">
									Testing Space</a></li>
							<li th:if="${showExternalLinks}"><a
								href="https://info.library.okstate.edu/family-study-room">Family
									Study Room</a></li>
						</ul>

					</div>

					<div class="top-bar-right">
						<ul class="vertical medium-horizontal  menu">
							<li><a href="https://library.okstate.edu/chat">Chat</a></li>
							<li class=""><a href="#" data-open="search-modal"><i
									class="fa fa-search" aria-hidden="true"></i> <span
									class="sr-only">Search</span></a></li>
						</ul>
					</div>

				</div>

			</div>
		</div>


		<!-- Header ends -->

		<!-- Content starts -->
		<section layout:fragment="content">
			<!-- Page content goes here! -->

		</section>


		<!-- Content ends -->

		<!-- Footer starts -->
		<footer role="footer">
			<ul class="footer-note">
				<li><i class="far fa-copyright"></i> Copyright <span id="year"></span></li>
				<li><a href="https://library.okstate.edu/"> Digital
						Resources and Discovery Services &mdash; Edmon Low Library</a></li>
				<li><a href="https://go.okstate.edu/">Oklahoma State
						University</a></li>
			</ul>
		</footer>
		<!-- Footer ends -->
	</div>
	<!-- Main ends -->



	<!--------------------------->
	<!--        Modals         -->
	<!--------------------------->


	<!-- Search Modal -->
	<div class="reveal" id="exampleModal1" data-reveal>
		<h1>Study Room Policies</h1>

		<ul th:replace="${roomPolicyInfoPath} :: room-policy">
		</ul>

		<!-- 	th:utext="${policyInfoPath}"  -->

		<button class="close-button" data-close aria-label="Close modal"
			type="button">
			<span aria-hidden="true">&times;</span>
		</button>

	</div>

	<!-- Search Modal -->
	<div class="reveal" id="search-modal" data-reveal>
		<p class="orange search-title">Search the Library Website</p>
		<form action="https://library.okstate.edu/search-results" method="get">
			<div class="input-group">

				<input type="text" name="s" id="search" value=""
					placeholder="Search the library website" class="input-group-field">
				<div class="input-group-button">

					<button type="submit" class="button search-button">
						<i class="fas fa-search"></i> <span class="show-for-sr">Search</span>
					</button>
				</div>
			</div>
		</form>


		<button class="close-button" data-close aria-label="Close modal"
			type="button">
			<span aria-hidden="true">&times;</span>
		</button>


	</div>

	<!-- Foundation scripts -->
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/foundation-datepicker.js}"></script>
	<script th:src="@{/js/foundation-datepicker.js}"></script>

	<!-- Font Awesome scripts -->
	<script defer
		src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>

</body>
</html>
