<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div th:fragment="room-policy">
		<ul>

			<li>A Reading Room reservation can be booked for up to 3 hours
				at a time. If more time is needed please make the request directly
				to the librarian via email sara.mautino@okstate.edu</li>
			<li>Reservations will be held for 15 minutes after the beginning
				of the reservation. At that time, the room may be reassigned.</li>
			<li>If it is your first time checking out the Reading Room, you
				will be asked to sign a “Statement of Responsibility” at the
				circulation desk.</li>
			<li>The room must be left clean after each use. Trash disposed
				of, whiteboard erased, and chairs pushed in.</li>
			<li>If you have any question regarding Reading Room reservations
				and/or policies, please visit the Architecture Library circulation
				desk or call 405-744-6074.</li>

		</ul>
	</div>

</body>

</html>