<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
	<div th:fragment="summary-helpinfo">

		<p class="xlead" style="margin: 1rem 0;">
			<i class="far fa-envelope-open"></i> You will receive an email
			confirmation, too. Please check your spam folder or contact the

			Architecture Library Circulation Desk at 405-744-6074 or with any
			questions. or <a
				href="mailto:sara.mautino@okstate.edu?subject=Architecture Library Circulation Desk Study Room Question">
				sara.mautino@okstate.edu</a> with any questions.
		</p>
	</div>

</body>

</html>

